.promotionBackground {
  background-image: url(../../../public/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 100vw;
  max-height: 400px;
  position: relative;
  & > .container {
    background: transparent;
  }
  & > .promotionBackgroundOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 30%;
    background-color: rgba(
      0,
      0,
      0,
      0.8
    ); /* Cor de fundo com 50% de opacidade */
  }
}

.promotionContent {
  padding: 3.25rem 0;
  font-weight: 600;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
  & > h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  & > h3 {
    font-size: 2.25rem;
    margin-bottom: 2.18rem;
  }
}
